apiVersion: v1
kind: ConfigMap
metadata:
  name: webapp-template
  namespace: webapp-template
data:
  # 类文件键
  # 和configs/dev下的配置一样
  config.yaml: |
    server:
      http:
        addr: 0.0.0.0:8000
        timeout: 1s
      grpc:
        addr: 0.0.0.0:9000
        timeout: 1s

    log:
      debug: true

    # 链路追踪服务器
    trace:
      jaeger:
        traceName: ""
        # http endpoint
        endpoint: jaeger.orb.local:4318
        # endpoint: http://jaeger.jaeger.orb.local:4318/v1/traces
        # gRPC endpoint
        # endpoint: http://jaeger.jaeger.orb.local:4317
        # 采集率,ratio>=1表示采集所有
        ratio: 1

    # 数据相关
    data:
      # 主数据库，保存核心数据
      mysql:
        # if true output sql
        debug: false
        dsn: root:opop2M_@tcp(mysql.server.orb.local:3306)/sale?charset=utf8mb4&parseTime=True&loc=Local&interpolateParams=true
      etcd:
        hosts:
          - etcd.server.orb.local:2379

    notify:
      telegram:
        apiToken: "6835874767:AAHqdz2jT8B_fInZ8ff5EmUT8ndsWVzO--M"
        chatId: -4184591934
