apiVersion: v1
kind: Service
metadata:
  annotations:
    kubeasy.com/autoCreate: "true"
  labels:
    app: webapp-template
  name: webapp-template
  namespace: webapp-template
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
    - IPv4
  ipFamilyPolicy: SingleStack
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8000
  selector:
    app: webapp-template
  sessionAffinity: None
  type: ClusterIP
